#playRingtoneContainer{
    display: grid;
    grid-template-areas: 
    "I"
    "H";
    /* margin-left: 66%; */
}

#playRingtoneIcon{
    grid-area: I;
    color: #3b8ea5; 
    font-size:5em;
    /* margin-left:25%; */
    justify-self: center;
}

