#policeContainer {
    display: grid;
    grid-template-areas: 
    "I"
    "H";
    /* margin-left: 33%; */
}

#policeIcon {
    color: #3b8ea5; 
    font-size:5em;
    grid-area: I;
    justify-self: start;

}

