*{
    font-family:'Work Sans';
}

#signupContainer{
    margin-top: 50px;
    border-width: 5px;
    display: grid;
    grid-template-areas: 
    "L"
    "H"
    "N"
    "E"
    "B";
}
#logo{
    grid-area: L;
    justify-self: center;
    width: 100vw;
    margin-top: -20%
}

#signUpHeader{
    grid-area: H;
    justify-self: center;
}

#nameContainer{
    grid-area: N;
    justify-self: center;
    /* margin-top: 10%; */
    display: grid;
    grid-template-areas: 
    "nh"
    "ni"

}
#nameHeader{
    grid-area: nh;
    justify-self: center;

}
#nameInput{
    grid-area: ni;
    justify-self: center;
}

#emailContainer{
    grid-area: E;
    justify-self: center;
    margin-top: 10%;
    display: grid;
    grid-template-areas: 
    "eh"
    "ei"
}
#emailHeader{
    grid-area: eh;
    justify-self: center;

}
#emailInput{
    grid-area: ei;
    justify-self: center;

}


#register-button{
    grid-area: B;
    justify-self: center;
    background-color: #1d2a33;
    font-weight: bold;
    margin-top: 10%;
    color: #3b8ea5; 
    font-size: 110%;
    width: 50vw;
    height: 50%;
}