html{
    background-color: #2F4454;
    font-family: 'Work Sans', sans-serif;
}

.button {
    margin: auto;
    text-decoration: none;
    justify-self: center;
    background-color: #1d2a33;
    font-weight: bold;
    margin-top: 5%;
    color: #3b8ea5; 
    font-size: 110%;
    width: 50vw;
    height: 50%;
 }