html{
    background-color: #2D728F;
    font-family: 'Work Sans', sans-serif;
}

.button {
    display: block;
    width: 115px;
    height: 25px;
    background-color:#3B8EA5;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    margin: auto;
    margin-top: 3%;
 }